body
{
  background:rgb(193, 188, 188);
}
h1{
  font-weight:800;
  font-size:5rem;
  font-family:Cursive;
  justify-content:center;
  text-align:center;
}
.container {
  width: 200px;
  height: 200px;
  margin:20% 42%;
  position: relative;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
}

.creditIcon {
 width: 20px;
 height: 20px;
 /* background-color: rgb(57, 57, 57); */
}

body{
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
  background: #000;
  color: #fff;
}

.middle{
  position: absolute;
  top: 10%;
  left: 52%;
  transform: translate(-50%, -50%);
  width: 700px;
}

.text{
  text-transform: uppercase;
  font-size: 60px;
  letter-spacing: 2px;
  font-weight: 600;
  padding-top: 40px;
}

.text:before,.text:after{
  padding-top: 40px;
  content: attr(data-text);
  position: absolute;
  top: 50px;
  left: -1px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.text:before{
  color: #ff00c1;
  animation: glitch-effect .5s infinite;
}

.text:after{
  color: #3498db;
  animation: glitch-effect 2s infinite;
}

@keyframes glitch-effect{
  0%{
    left: -2px;
    top: 2px;
  }

  
  25%{
    left: -4px;
    top: 4px;
  }

  
  50%{
    left: 2px;
    top: 2px;
  }

  
  75%{
    left: 2px;
    top: -4px;
  }

  
  100%{
    left: -2px;
    top: 2px;
  }
}



@keyframes glitch-effect{
  0%{
    left: -2px;
    top: 2px;
  }

  
  25%{
    left: -2px;
    top: -2px;
  }

  
  50%{
    left: 2px;
    top: 2px;
  }

  
  75%{
    left: 2px;
    top: -2px;
  }

  
  100%{
    left: -2px;
    top: 2px;
  }
}

/* ** */

div.candidatos, div.textTeam {
    position:relative;
    height: 40px;
    margin:40px 20px;
    padding-left:50px;
}
div.textTeam p{
    font-size: 15px;
    font-weight: 600;
    color: #9e9c9b;
    text-transform: uppercase;
}
div.textTeam p a{
    color: #1671d1;
}
div.candidatos img {
    position:absolute;
    top:0;
    left:0;
    width:40px;
    height:40px;
    border-radius: 50%;
    border: 2px solid #ddd;
    padding:1px;
}
div.candidatos .parcial {
    display:inline-block;
    width:100%;
    height:40px;
    vertical-align:middle;
    padding: 0 0 0 10px;
}
div.candidatos .parcial .info {
    height:15px;
    position: relative;
    padding-bottom: 20px;
}
div.candidatos .parcial .info > div {
    float:left;

}
div.candidatos .parcial .info .nome {
    position: absolute;
    top: 0;
    left:0;
    font-size: 15px;
    padding-bottom: 20px;
    font-weight: 600;
    color: #fefefe;
}
div.candidatos .parcial .info .eleito, div.candidatos .parcial .info .segundo-turno {
    color: #fff;
    padding: 0 5px 2px 5px;
    border-radius: 2px;
}
div.candidatos .parcial .info .percentagem-num {
    position: absolute;
    top:0;
    right:0;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
}
div.candidatos .parcial .progressBar {
    position:relative;
    width:100%;
    height:7px;
    margin:5px 0 2px;
    border-radius:10px;
    background: #e7e7e7;
}
div.candidatos .parcial .progressBar .percentagem {
    position:absolute;
    top:0;
    left:0;
    height:7px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #A4B5C0;
    -webkit-transition: 5s all;
    -webkit-animation-duration: 5s;
    -webkit-animation-name: animationProgress;
}
div.candidatos.color1 .parcial .percentagem {
    background-color:#EACF00;
}
div.candidatos.color2 .parcial .percentagem {
    background-color:#C44738;
}
div.candidatos.color3 .parcial .percentagem {
    background-color:#4086CD;
}
div.candidatos.color4 .parcial .percentagem {
    background-color:#b6171a;
}
div.candidatos .parcial .partidas {
    font-family: Arial, helvetica, Sans-serif;
    font-size: 10px;
    font-weight: 600;
    color: #9e9c9b;
    text-transform: uppercase;
}
.percentual {
    -webkit-transition: 5s all;
    -webkit-animation-duration: 5s;
    -webkit-animation-name: animationProgress;
    transition: 5s all;
    animation-duration: 5s;
    animation-name: animationProgress;
}
@-webkit-keyframes animationProgress {
    from {
        width:0;
    }
}
@keyframes animationProgress {
    from {
        width:0;
    }
}



