@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
 .wrapper {
	 position: relative;
	 background-color: black;
	 color: white;
	 width: 100%;
	 min-height: 100vh;
	 overflow-x: hidden;
}
 .wrapper:after {
	 content: 'ERROR 404';
	 font-family: 'Press Start 2P', cursive;
	 font-size: 70px;
	 position: absolute;
	 top: 10%;
	 bottom: 0;
	 left: 0;
	 right: 35%;
	 text-align: center;
	 width: 550px;
	 margin: auto;
	 opacity: 0;
	 color: white;
	 animation: glitch-1 2s linear infinite;
}
 @media screen and (max-width: 959px) {
	 .wrapper:after {
		 width: 150px;
		 font-size: 40px;
	}
}
 .wrapper:before {
	 content: 'ERROR 404';
	 font-family: 'Press Start 2P', cursive;
	 font-size: 60px;
	 position: absolute;
	 top: 10%;
	 bottom: 0;
	 left: 0;
	 right: 35%;
	 text-align: center;
	 width: 550px;
	 margin: auto;
	 opacity: 0;
	 color: white;
	 animation: glitch-2 1s linear infinite;
	 z-index: 1;
}
 @media screen and (max-width: 959px) {
	 .wrapper:before {
		 width: 150px;
		 font-size: 30px;
	}
}
 .wrapper .error {
	 font-family: 'Press Start 2P', cursive;
	 width: 100%;
	 margin: 15vh auto;
	 animation: glitch-3 3s linear infinite;
	 font-size: clamp(14px, 2vw, 20px);
	 z-index: 1;
}
 .wrapper .fnf {
	 position: absolute;
	 top: 75%;
	 bottom: 0;
	 left: 20px;
	 right: -10%;
	 margin: auto;
	 width: 200px;
	 height: 60px;
	 z-index: -1;
	 text-align: center;
	 animation: glitch-3 1s linear infinite;
}
 .wrapper .fnf:before {
	 content: 'FILE NOT FOUND';
	 position: absolute;
	 top: 20px;
	 bottom: 0;
	 left: 40px;
	 right: 100px;
	 margin: auto;
	 width: 800px;
	 font-family: 'Press Start 2P', cursive;
	 font-size: 35px;
	 text-align: center;
	 opacity: 0;
	 animation: glitch-2 0.5s linear infinite;
}
 @media screen and (max-width: 959px) {
	 .wrapper .fnf:before {
		 width: 200px;
		 font-size: 25px;
	}
}
 .wrapper .fnf:after {
	 content: 'FILE NOT FOUND';
	 position: absolute;
	 top: 20px;
	 bottom: 0;
	 left: 40px;
	 right: 0;
	 margin: auto;
	 width: 800px;
	 font-family: 'Press Start 2P', cursive;
	 font-size: 35px;
	 text-align: center;
	 opacity: 0;
	 animation: glitch-1 1s linear infinite;
}
 @media screen and (max-width: 959px) {
	 .wrapper .fnf:after {
		 width: 200px;
		 font-size: 25px;
	}
}
 .wrapper .wrap {
	 width: fit-content;
	 margin: auto;
}
 .wrapper .wrap code {
	 color: white;
	 line-height: 1.22222222;
}
 .wrapper .wrap code span.comment {
	 color: #666;
}
 .wrapper .wrap code span.blue {
	 color: #6089b4;
}
 .wrapper .wrap code span.red {
	 color: #c44349;
}
 .wrapper .wrap code span.yellow {
	 color: #bda33f;
}
 .wrapper .wrap code span.green {
	 color: #8e9c39;
}
 .wrapper .clone {
	 position: absolute;
	 top: 0px;
	 left: 0px;
	 width: 100%;
	 height: 100%;
	 overflow: hidden;
}
 .wrapper .clone_offsetter {
	 position: absolute;
	 top: 0px;
	 left: 0px;
	 width: 100%;
	 height: 100%;
}
 .wrapper input {
	 position: relative;
	 all: unset;
	 width: fit-content;
	 z-index: 300;
	 cursor: help;
	 transition: 0.17s;
}
 .wrapper input:hover {
	 color: #c44349;
	 animation: glitch-3 1s linear infinite;
}
 @keyframes glitch {
	 0%, 3%, 5%, 42%, 44%, 100% {
		 opacity: 1;
		 transform: scaleY(1);
	}
	 4.3% {
		 opacity: 1;
		 transform: scaleY(1.7);
	}
	 43% {
		 opacity: 1;
		 transform: scaleX(1.5);
	}
}
 @keyframes glitch-1 {
	 0%, 20%, 40%, 60%, 70%, 90% {
		 opacity: 0;
	}
	 10% {
		 opacity: 0.1;
	}
	 50% {
		 opacity: 0.5;
		 left: -6px;
	}
	 80% {
		 opacity: 0.3;
	}
	 100% {
		 opacity: 0.6;
		 left: 2px;
	}
}
 @keyframes glitch-2 {
	 0%, 20%, 40%, 60%, 70%, 90% {
		 opacity: 0;
	}
	 10% {
		 opacity: 0.1;
	}
	 50% {
		 opacity: 0.5;
		 left: 6px;
	}
	 80% {
		 opacity: 0.3;
	}
	 100% {
		 opacity: 0.6;
		 left: -2px;
	}
}
 @keyframes glitch-3 {
	 0%, 3%, 5%, 42%, 44%, 100% {
		 opacity: 1;
		 transform: scaleY(1);
	}
	 4.3% {
		 opacity: 1;
		 transform: scaleY(4);
	}
	 43% {
		 opacity: 1;
		 transform: scaleX(10) rotate(60deg);
	}
}
 