body {
  background-color: black;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: white;
}

header {
  display: flex;
  justify-content: center;
  background-color: rgb(18, 18, 18);
  height: 7.8vh;
  width: 100%;
}

.head-block {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 100%;
  width: 83%;
}

.imdb-logo {
  width: auto;
  height: 70%;
  /* padding-right: 15px; */
}

.header-button {
  color: white;
  background-color: rgb(18, 18, 18);
  border: none;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  height: 40%;
  width: 90px;
  border-radius: 5px;
  margin-right: 5px;
  text-decoration: none;
}

.header-button-ua {
  color: white;
  background-color: rgb(18, 18, 18);
  border: none;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  height: 65%;
  width: 90px;
  border-radius: 5px;
  margin-right: 5px;
}

.buttons-logo {
  color: rgb(100, 100, 100);
  font-size: 16px;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.header-button:hover {
  /* background-color: rgb(40, 40, 40); */
  text-decoration: none;
}

.input-field {
  display: flex;
  align-items: center;
  height: 75%;
  width: 60%;
}

#search-imdb-select {
  height: 70%;
  width: 8%;
  border: none;
  padding-left: 10px;
  font-weight: bold;
  border-radius: 5px 0px 0px 5px;
}

#search-imdb {
  height: 70%;
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 0px 5px 5px 0px;
  /* top-left | top-right | bottom-right | bottom-left */
}

.pro-button {
  height: 40%;
  padding: 7px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 10px;
  transition-duration: 0.2s;
  border-radius: 5px;
}

.pro-button:hover {
  background-color: rgb(40, 40, 40);
}

.empty-div {
  height: 50%;
  border: 1px solid rgb(149, 149, 149);
  margin-right: 15px;
}

.lang-select {
  text-align: center;
  color: white;
  background-color: rgb(18, 18, 18);
  border: none;
  margin-left: 5px;
  font-weight: bold;
  width: 50px;
  height: 65%;
  border-radius: 5px;
  transition-duration: 0.2s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.lang-select:hover {
  background-color: rgb(40, 40, 40);
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.wrapper {
  width: 84%;
}

.main-header {
  display: "";
  /* display: none; */
  font-size: 48px;
  padding: 15px;
}

.main-header-UA {
  /* display: ''; */
  display: none;
  font-size: 48px;
  padding: 15px;
}

.main-button {
  color: white;
  background-color: black;
  border: none;
  padding-top: 10px;
  padding-bottom: 25px;
  transition-duration: 0.2s;
}

.main-button:hover {
  background-color: rgb(20, 20, 20);
}

.films-wrapper {
  display: flex;
  flex-wrap: wrap;
  /* margin-top: 10px; */
  /* padding: 10px; */
}

.film {
  display: flex;
  flex-direction: column;
  width: 15vw;
  height: 68vh;
  margin: 15px;
  margin-left: 10px;
  /* margin-bottom: 200px; */
  background-color: rgb(25, 25, 25);
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
  /* top-left | top-right | bottom-right | bottom-left */
}

.film-img {
  width: 100%;
  height: 60%;
  /* height: auto; */
  margin-bottom: 13px;
}

.star-for-rating {
  width: 8%;
  margin-left: 10px;
}

.film-name {
  height: 30px;
  margin: 10px;
  margin-top: 10px;
}

.star-button {
  margin-left: 10px;
  margin-top: 3px;
  padding: 5px;
  padding-right: 15px;
  padding-left: 15px;
  border: none;
  background-color: rgb(25, 25, 25);
  color: rgb(113, 161, 251);
  font-size: 18px;
  border-radius: 5px;
  transition: 0.2s;
}

.star-button:hover {
  background-color: rgb(40, 40, 40);
  color: white;
}

.film-watchlist-button {
  /* margin-top: 20px; */
  border: none;
  background-color: rgb(40, 40, 40);
  color: rgb(113, 161, 251);
  width: 90%;
  height: 35px;
  margin-left: 8px;
  margin-top: 8px;
  border-radius: 5px;
  font-weight: bold;
  transition-duration: 0.2s;
}

.film-watchlist-button:hover {
  background-color: rgb(61, 61, 61);
}

.film-trailer-button {
  border: none;
  background-color: rgb(25, 25, 25);
  color: white;
  font-weight: bold;
  height: 35px;
  width: 50%;
  margin-top: 7px;
  margin-left: 3vw;
  margin-bottom: 5px;
  transition-duration: 0.2s;
  border-radius: 5px;
}

.film-trailer-button:hover {
  background-color: rgb(40, 40, 40);
}

.search-result {
  position: absolute;
  background-color: rgb(30, 30, 30);
  width: 690px;
  align-self: flex-start;
  left: 20vw;
  padding: 10px;
}

.film-search {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(175, 175, 175);
}

.film-img-search {
  height: 200px;
  padding-right: 10px;
  padding-bottom: 5px;
}

.title-description {
  font-weight: bold;
  margin: 10px;
  margin-bottom: 20px;
}

.description {
  margin: 5px;
}

.section-heading {
  padding-left: 10px;
  padding-top: 10px;
}

.section-heading a {
  text-decoration: none;
}

.hero_image {
  width: 90vw;
  height: 90vh;
  object-fit: cover;
}
/* HERO_HEADER */

.hero_caption {
  bottom: 150px;
  left: 50px;
  text-align: left;
}

h1 {
  font-size: 60px;
  font-weight: bold;
}

.hero_genre {
  display: inline;
  padding: 0 20px 0 0;
}

.hero_tagline {
}

.hero_trailer {
  display: block;
  padding: 20px 0 0 0;
}

.hero_rating_container {
  padding: 10px 0 0 0;
}

.hero_rating {
  padding: 0 0 0 10px;
  vertical-align: bottom;
  display: inline;
}

.hero_rating_img {
  display: inline;
  width: 60px;
  height: auto;
}

.bi {
  padding: 0 0 10px 10px;
}
