.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 90%;
    background-color: black;
    margin-left: 4%;
}

.homepage-logo {
    height: 120px;
    margin-bottom: 10px;
    position: relative;
    right: 75px;
}
.youtube-logo {
    height: 120px;
    margin-bottom: 10px;
}

.search-bar {
    display: flex;
    flex-grow: 1;
    margin: 0 2rem 0 2rem;
}

