<!DOCTYPE html>
<html 
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
  >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ------------------------------------------------ -->
    <!--                  BOOTSTRAP CDN                   -->
    <!-- ------------------------------------------------ -->
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <!-- ------------------------------------------------ -->
    <!--                  GOOGLE FONTS                    -->
    <!-- ------------------------------------------------ -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="icon" href="img/popflix_logo_2.png">
    <link rel="stylesheet" href="/movies.css" />
    <link rel="stylesheet" href="/homepage.css">
    <link rel="stylesheet" href="/moviePage.css">
</head>
<body>

  <!-- ------------------------------------------------ -->
  <!--           NAVBAR WITH SEARCH BAR                 -->
  <!-- ------------------------------------------------ -->

    <header>
      <div class="head-block" >
        <a href="/">
        <img class="imdb-logo" 
         src="img/popflix_logo_2.png" style="width:66.6px; height:51.26px;" alt="error">
        </a>
        <div class="header-button">          
          <div class="dropdown navitem">
            <button class="dropbtn"><span class='burger-logo'>&#9776</span></button>
              <div class="dropdown-content">
                <form action="/nowPlayingMovies">
                  <button class="navitem noselect neon-button blue">IN THEATRES</button>
                </form>
                <form action="/upcomingMovies">
                  <button class="navitem noselect neon-button blue">FUTURE MOVIES</button>   
                </form>
                <form action="/mostPopular">
                  <button class="navitem noselect neon-button blue">MOST POPULAR</button>
                </form>
                <form action="/topRatings">
                  <button class="navitem noselect neon-button blue">TOP RATED</button>
                </form>                   
              </div>
          </div>
            <div class="input-field">
                <select id="search-imdb-select">
                    <option value='all'>All <span>&#9662</span></option>
                    <option value="titles">Titles</option>
                    <option value="tv-episodes">TV Episodes</option>
                    <option value="celebs">Celebs</option>
                    <option value="companies">Companies</option>
                    <option value="keywords">Keywords</option>
                    <option value="advanced-search">Advanced Search</option>
                </select>
                <input type="text" id="search-imdb" placeholder="Search Popflix"/>
            </div>
            <div class="empty-div"> </div>
            <a href='/watchlist' class="header-button"><b>Watchlist</b></a>
            <a sec:authorize="isAuthenticated()"><b><span sec:authentication="name"></span></b></a>
            <a href='/logout' class="header-button"><b>Logout</b></a>
            <select class="lang-select">
                <option value='en'>EN &#9662</option>
                <option value="titles">UA</option>
                <option value="tv-episodes">ESP</option>
                <option value="celebs">IT</option>
                <option value="companies">DE</option>
            </select>
        </div>
    </header>
    <main>

        <!-- ------------------------------------------------ -->
        <!--           SINGLE PERSON DETAILS                   -->
        <!-- ------------------------------------------------ -->
        <div class="mainPersonDiv">
            <!-- Person details -->

            <div class="section-heading">
              <div class="section_header">
                <div class="single_person_rectangle"></div>
                <h1 class="single_person_title" th:text="${name}"></h1>
                <!-- <h1 class="single_person_title" th:text="${department}"></h1>
                <h1 class="single_person_title" th:text="${bio}"></h1>
                <img class="single_person_title" th:src="@{https://image.tmdb.org/t/p/original/{pic}(pic=${img})}"></img>
                <h1 class="single_person_title" th:text="${personalPage}"></h1>
                <h1 class="single_person_title" th:text="${popularity}"></h1>
                <h1 class="single_person_title" th:text="${media}"></h1>
                <h1 class="single_person_title" th:text="${character}"></h1>
                <h1 class="single_person_title" th:text="${birthday}"></h1>
                <h1 class="single_person_title" th:text="${death}"></h1>
                <h1 class="single_person_chevron"></h1> -->
              </div>
              <!-- <div class="single_person_section_description" th:text="${person.tagline}"></div> -->
              </div>
        </div>
        <th:block>
         <!-- Born / died  -->
         <p>Born on: </p>
          <p class="single_person_title" th:text="${birthday + ' in ' + pob}"></p>
          <p th:text="${death}"></p>
        </th:block>
      </div>

      <!-- Movie trailer and poster -->
      <div class="movieContainter"> 
        <div class="posterblock">
            <img
            th:src="@{https://image.tmdb.org/t/p/original/{pic}(pic=${img})}"
            class="posterblock"
            alt="..."
            />
        </div>
        <!-- <div class="trailerblock">
            <iframe th:src="@{https://www.youtube.com/embed/{id}(id=${person.getVideos().get(0).getKey()})}" width="835" height="500" frameBorder="0" class="giphy-embed"></iframe>
        </div> -->
      </div>

      <!-- Movie genre, overview, director, cast -->
      <div class="detailsBlock">
          <div class="mediaContainter">
            <h2><b>Overview:</b></h2>
            <!-- Genre check -->
            <div class="genre">
                <p th:text="${department}"></p>
              </div>
            </div> 
            <hr>
            <h3>Biography</h3>
            <div>
              <p th:text="${bio}"></p>
            </div>

            <!-- Director Iteration Block -->
            
            </th:block>
          </div>
      </div>
      </main>
    </body>
</html>