<!DOCTYPE html>
<link rel="stylesheet" href="/error.css" />
<div class="wrapper">
  <div id="container">
    <div class="error">
      <div class="wrap">
        <div class="404">
          <pre><code>
  <span class="red">&lt;!</span><span>DOCTYPE html</span><span class="red">&gt;</span>
    <span class="blue">&lt;html <span class="yellow">lang=</span><span class="green">"en"</span>&gt;</span>
      <span class="blue">&lt;body <span class="yellow">class=</span><span class="green">"broken"</span>&gt;</span>
  
        <span>ERROR 404! 
        FILE NOT FOUND!</span>
        
        <span class="comment">&lt;!-- page not found,
        time to go.--&gt;</span>
          
        <a href="/" style="text-decoration: none;">
        <span class="red" style="text-decoration: none;">&gt;</span> 
        <input id="the_button" type="button" value="back home." />
        </a>
      <span class="blue">&nbsp;&lt;/body&gt;</span>
    <span class="blue">&lt;/html&gt;</span>
    </code></pre>
        </div>
      </div>
      <span class="fnf"></span>
    </div>
  </div>
</div>
