<!DOCTYPE html>
<html 
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
  >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ------------------------------------------------ -->
    <!--                  BOOTSTRAP CDN                   -->
    <!-- ------------------------------------------------ -->
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <!-- ------------------------------------------------ -->
    <!--                  GOOGLE FONTS                    -->
    <!-- ------------------------------------------------ -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <title th:text="'PopFlix | ' + ${movie.title}"></title>
    <link rel="icon" href="/img/popflix_logo_2.png">
    <!-- <link rel="icon" href="img/popflix_logo_2.png"> -->
    <link rel="stylesheet" href="/movies.css" />
    <link rel="stylesheet" href="/homepage.css">
    <link rel="stylesheet" href="/moviePage.css">
    <link rel="stylesheet" href="/nav.css">
</head>
<body>

  <!-- ------------------------------------------------ -->
  <!--           NAVBAR WITH SEARCH BAR                 -->
  <!-- ------------------------------------------------ -->

    <header class="header">
        <a href="/">
          <img src="logo_black.png" alt="Logo" class="youtube-logo" />
        </a>
              <div class="dropdown navitem">
                <button class="dropbtn"><span class='burger-logo'>&#9776</span></button>
                  <div class="dropdown-content">
                    <form action="/nowPlayingMovies">
                      <button class="navitem noselect neon-button blue">IN THEATRES</button>
                    </form>
                    <form action="/upcomingMovies">
                      <button class="navitem noselect neon-button blue">FUTURE MOVIES</button>   
                    </form>
                    <form action="/mostPopular">
                      <button class="navitem noselect neon-button blue">MOST POPULAR</button>
                    </form>
                    <form action="/topRatings">
                      <button class="navitem noselect neon-button blue">TOP RATED</button>
                    </form>                   
                  </div>
              </div>

        <form th:action="@{/results}" th:object="${formObj}" method="get" class="search-bar">
            <input th:field="*{search}" class="search-input" id="searchbox" type="search" aria-label="Search" pattern=".*\S+.*" autocomplete="off" required/>
            <button type="submit" class="search-btn">
                <img src="https://raw.githubusercontent.com/WebDevSimplified/YouTube-Design-Clone/73993ebe5f06d59e9ab68e07830f9cfc585b8f72/magnify.svg" alt="search"/>
            </button>
        </form>

        <!-- <a sec:authorize="isAuthenticated()">Logged in as: <span sec:authentication="name"></span></a> -->

        <select class="lang-select" style="margin-top: 3px;">
          <option value='en'>EN &#9662</option>
          <option value="titles">UA</option>
          <option value="tv-episodes">ESP</option>
          <option value="celebs">IT</option>
          <option value="companies">DE</option>
        </select>
        
        <div class="menu-icons">
            <a href="/watchlist/">
                <img src="https://raw.githubusercontent.com/WebDevSimplified/YouTube-Design-Clone/73993ebe5f06d59e9ab68e07830f9cfc585b8f72/video-plus.svg" alt="Upload Video" />
            </a>
            <a href="/about">
                <img src="https://raw.githubusercontent.com/WebDevSimplified/YouTube-Design-Clone/73993ebe5f06d59e9ab68e07830f9cfc585b8f72/apps.svg" alt="Apps" />
            </a>
            <a href="#">
                <img src="https://raw.githubusercontent.com/WebDevSimplified/YouTube-Design-Clone/73993ebe5f06d59e9ab68e07830f9cfc585b8f72/bell.svg" alt="Notifications" />
            </a>
            <a href="/logout">
                <img class="menu-channel-icon" src="http:///unsplash.it/36/36?gravity=center" alt="Your Channel" />
            </a>
        </div>
    </header>
    <main>

        <!-- ------------------------------------------------ -->
        <!--           SINGLE MOVIE DETAILS                   -->
        <!-- ------------------------------------------------ -->

        <div class="wrapper">

          <div class="main-header">What to watch:</div>
          <div class="main-buttons">
            <a href='/nowPlayingMovies' class="main-button" id="in-theatres"><b>IN THEATRES</b></a>
            <a href='/upcomingMovies' class="main-button" id="new-releases"><b>UPCOMING MOVIES</b></a>
            <a href='/mostPopular' class="main-button" id="most-popular"><b>MOST POPULAR</b></a>
            <a href='/topRatings' class="main-button" id="top-rated"><b>TOP RATED</b></a>
            <a href='/watchlist' class="main-button"><b>FROM YOUR WATCHLIST</b></a>
            <a href='/recommendation' class="main-button"><b>RECOMMENDATIONS</b></a>
          </div>


        <div class="mainMovieDiv">
            <!-- Movie title, release date and run time -->

            <div class="section-heading">
              <div class="section_header">
                <div class="rectangle"></div>
                <h3 class="single_movie_title" th:text="${movie.title}"></h3>
                <h3 class="single_movie_chevron">></h3>
              </div>
              <div class="single_movie_section_description" th:text="${movie.tagline}"></div>

              <!-- Release Date - Date Time Formatter -->
              <th:block th:with="sdf = ${new java.text.SimpleDateFormat('yyyy-MM-dd')}">
                <p class="paragraph_details" th:text="${#dates.format(sdf.parse(movie.getReleaseDate()), 'yyyy')}"></p>
                <!-- Runtime -->
                <p class="paragraph_details" th:text="' • ' + ${movie.getRuntime()} + ' minutes'"></p>
              </th:block>
            </div>

            <!-- Movie trailer and poster -->
            <div class="movieContainter"> 
              <div class="posterblock">
                  <img
                  th:src="@{https://image.tmdb.org/t/p/w500/{ext}(ext=${movie.getPosterPath()})}"
                  class="posterblock"
                  alt="..."
                  />
              </div>
              <div class="trailerblock">
              <div th:unless="${movie.getVideos().isEmpty()}">
            <iframe th:src="@{https://www.youtube.com/embed/{id}(id=${movie.getVideos().get(0).getKey()})}" width="835" height="500" frameBorder="0" class="giphy-embed"></iframe>
              </div>
     

              </div>
            </div>

            <!-- Movie genre, overview, director, cast -->
            <div class="detailsBlock">
                <div class="mediaContainter">
                  <h2><b>Overview:</b></h2>

                  <!-- Genre check -->
                  <div class="genre">
                    <div th:if="${movie.getGenres.size > 1}">
                      <p th:text="${movie.getGenres().get(0).getName} + ' • ' + ${movie.getGenres().get(1).getName}"></p>
                    </div>
                    <div th:unless="${movie.getGenres().size > 1}">
                      <p th:text="${movie.getGenres().get(0).getName}"></p>
                    </div>
                  </div> 
                
                  <hr>

                  <div>
                    <p th:text="${movie.getOverview()}"></p>
                  </div>

                  <!-- Director Iteration Block -->
                  <p>Director:</p>
                  <th:block th:each="i: ${#numbers.sequence(0, movie.getCrew().size() - 1)}">
                    <ul th:if="${movie.getCrew().get(i).getJob().equals('Director')}">
                      <li th:text="${movie.getCrew().get(i).getName()}"></li>
                    </ul>
                    <div th:unless="${movie.getCrew().get(i).getJob().equals('Director')}">
                    </div>
                  </th:block>

                  <!-- Writers Iteration Block -->
                  <p>Writers:</p>
                  <th:block th:each="i: ${#numbers.sequence(0, movie.getCrew().size() - 1)}">
                    <ul class="ul_single_movie_crew_details" th:if="${movie.getCrew().get(i).getJob().equals('Writer')} OR ${movie.getCrew().get(i).getJob().equals('Screenplay')}">
                      <li th:text="${movie.getCrew().get(i).getName()}"></li>
                    </ul>
                  </th:block>

                  <!-- Based On Novel By Iteration Block -->
                  <th:block th:each="i: ${#numbers.sequence(0, movie.getCrew().size() - 1)}">
                    <div th:if="${movie.getCrew().get(i).getJob().equals('Novel')}">
                      <p th:text="'Based on the novel by ' + ${movie.getCrew().get(i).getName()}"></p>
                    </div>
                    <div th:unless="${movie.getCrew().get(i).getJob().equals('Novel')}"></div>
                  </th:block>

                  <hr>
                  <p class="actors_header">Stars:</p>
                  <div class="actors_container">
                    <div class="actor_container">
                      <a class="actor_link" th:href="@{/bio?personid={id}(id=${movie.getCast().get(0).getId()})}">
                        <img class="actor_img" th:src="@{https://image.tmdb.org/t/p/original/{pic}(pic=${movie.getCast().get(0).getProfilePath()})}" alt="">
                        <p class="actor_name" th:text="${movie.getCast().get(0).getName}"></p>
                      </a>
                    </div>
                    <div class="actor_container">
                      <a class="actor_link" th:href="@{/bio?personid={id}(id=${movie.getCast().get(1).getId()})}">
                        <img class="actor_img" th:src="@{https://image.tmdb.org/t/p/original/{pic}(pic=${movie.getCast().get(1).getProfilePath()})}" alt="">
                        <p class="actor_name" th:text="${movie.getCast().get(1).getName}"></p>
                      </a>  
                    </div>
                    <div class="actor_container">
                      <a class="actor_link" th:href="@{/bio?personid={id}(id=${movie.getCast().get(2).getId()})}">
                      <img class="actor_img" th:src="@{https://image.tmdb.org/t/p/original/{pic}(pic=${movie.getCast().get(2).getProfilePath()})}" alt="">
                      <p class="actor_name" th:text="${movie.getCast().get(2).getName}"></p>
                      </a>
                    </div>
                    <!-- <div class="actor_container">
                      <img class="actor_img" th:src="@{https://image.tmdb.org/t/p/original/{pic}(pic=${movie.getCast().get(3).getProfilePath()})}" alt="">
                      <p th:text="${movie.getCast().get(3).getName}"></p>
                    </div> -->
                  </div>                
                  <hr>
                </div>
              </div>

            <!-- Where to watch -->
            <div class="whereWatchBlock">
            <form th:action="@{/watchlist/new?movieid={id}(id=${movie.getId()})}" th:object="${watchlist}" method="post">
                    <button type="submit" class="addToWatchlist"><img src="https://img.icons8.com/ios-filled/35/000000/plus-key.png"/> Add to Watchlist</button> 
                    <!-- <button type="submit" class="film-watchlist-button">+ Watchlist</button> -->
              </form> 

              <a href="https://www.amazon.co.uk/Amazon-Video/b?ie=UTF8&node=3010085031" class="streamingService"><img src="https://img.icons8.com/color/40/000000/amazon-prime-video.png"/>Watch now on Prime Video</a>
              <a href="https://www.netflix.com/gb/" class="streamingService"><img src="https://img.icons8.com/3d-fluency/40/000000/netflix-desktop-app.png"/>Watch now on Netflix</a>
            </div>
      
          <!-- Main block of info finish -->
          <!-- ------------------------------------------------ -->
          <!-- Wider movie details block start-->

          <div class="secondaryMovieDiv">
            <div class="fullDetailsBlock">
              <div class="detailsContainer">
                  <h2><b>Details:</b></h2>

                  <!-- Production Companies check -->
                  <div th:if="${movie.getProductionCompanies().size > 1}">
                    <p th:text="'Studios: ' + ${movie.getProductionCompanies().get(0).getName} + ' • ' + ${movie.getProductionCompanies().get(1).getName}"></p>
                  </div>
                  <div th:unless="${movie.getProductionCompanies().size > 1}">
                    <p th:text="'Studios: ' + ${movie.getProductionCompanies().get(0).getName}"></p>
                  </div>
                
                  <p th:text="@{Language: {language}(language=${movie.getSpokenLanguages().get(0).getName()})}"></p>
                  <a class="single_movie_web_link" th:href="${movie.getHomepage()}"><p th:text="${movie.getHomepage()}"></p></a>               
                </div>
              </div>

            <div class="whereWatchBlock">
              <div class="budgetBlock">
                <h2><b>Box Office:</b></h2>

                <!-- Release Date - Date Time Formatter -->
                <th:block th:with="sdf = ${new java.text.SimpleDateFormat('yyyy-MM-dd')}">
                  <p class="paragraph_details">Release Date:</p>
                  <p class="paragraph_details" th:text="${#dates.format(sdf.parse(movie.getReleaseDate()), 'dd/MM/yyyy')}"></p>
                </th:block>
                      
                <p th:text="@{Budget: ${budget}(budget=${#numbers.formatDecimal(movie.getBudget(), 0, 'COMMA', 0, 'POINT')})}"></p>
                <p th:text="@{Revenue: ${revenue}(revenue=${#numbers.formatDecimal(movie.getRevenue(), 0, 'COMMA', 0, 'POINT')})}"></p>
              </div>
            </div>

            <hr>
            <div class="castBlock">
              <h2><b>Cast:</b></h2>
              <div class="row">
                <div class="column" th:each="actor: ${movie.getCast()}">
                  <p th:text="${actor.getName()} + ' as ' + ${actor.getCharacter()}"></p>
                </div>
              </div>
            </div>

          </div>
        </div>



      <div class="similar_movies_carousel">
        <!-- ------------------------------------------------ -->
        <!--           SIMILAR MOVIES CAROUSEL                -->
        <!-- ------------------------------------------------ -->
        
        <div class="section-heading">
          <div class="section_header">
            <div class="rectangle"></div>
            <a href="#" class="most-popular" tabindex="0"><h3 class="">Similar Movies</h3></a>
            <h3 class="chevron">></h3>
          </div>
          <div class="section_description" th:text="'Movies like ' + ${movie.title}"></div>
        </div>
          <div class="films-wrapper">
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
          <div class="carousel-item active">
          <div class="cards-wrapper">

          <!-- --------------------------- -->
          <!--     FIRST SET STARTS        -->
          <!-- --------------------------- -->
            <div class="film" th:each="card: ${firstList}">
              <a th:href="@{/movie?movieid={id}(id=${card.id})}">
                <img 
                th:src="@{https://image.tmdb.org/t/p/w500/{ext}(ext=${card.getPosterPath()})}"
                loading="lazy"
                class="film-img"
                alt="..."
                /> 
              </a>
              <div>
                <div>
                  <img class="star-for-rating" src="../img/popcorn.png" loading="lazy" alt="star" th:text="${#numbers.formatDecimal(card.voteAverage, 0, 1)}">                
                  <button class="star-button">☆</button>
                </div>
                <div class="film-name" th:text="${card.title}"></div>
                <form class="watchlist_add" th:action="@{/watchlist/new?movieid={id}(id=${card.getId()})}" th:object="${watchlist}" method="post">
                  <button type="submit" class="film-watchlist-button">+ Watchlist</button>
                </form>
                <a th:href="@{https://www.youtube.com/watch?v={id}(id=${card.getVideos().get(0).getKey()})}"><button class="film-trailer-button">Trailer</button></a>
              </div>
            </div>
          </div>
        </div>

          <!-- -------------------------------------- -->
          <!--      SECOND TO FOURTH SET STARTS       -->
          <!-- -------------------------------------- -->
          <div class="carousel-item" th:each="card: ${movies}">
            <div class="cards-wrapper">
              <div class="film" th:each="movie1: ${card}">
                <a th:href="@{/movie?movieid={id}(id=${card.id})}">
                  <img
                  th:src="@{https://image.tmdb.org/t/p/w500/{ext}(ext=${movie1.getPosterPath()})}"
                  loading="lazy"
                  class="film-img"
                  alt="..."
                  />
                </a>
                <div>
                  <div>
                    <img class="star-for-rating" src="../img/popcorn.png" loading="lazy" alt="star" th:text="${#numbers.formatDecimal(movie1.voteAverage, 0, 1)}">
                    <button class="star-button">☆</button>
                  </div>
                  <div class="film-name" th:text="${movie1.title}">Card title</div>
                  <form class="watchlist_add" th:action="@{/watchlist/new?movieid={id}(id=${card.getId()})}" th:object="${watchlist}" method="post">
                    <button type="submit" class="film-watchlist-button">+ Watchlist</button>
                    </form>

                  <a th:href="@{https://www.youtube.com/watch?v={ex}(ex=${movie1.getVideos().get(0).getKey()})}">
                      <button class="film-trailer-button">Trailer</button>
                  </a>
                </div>
                </div>
              </div>
              </div>
            </div>
            </div>
          </div>

        <!-- ------------------------------------------------ -->
        <!--            CAROUSEL CONTROLS                     -->
        <!-- ------------------------------------------------ -->
              <!-- <a
                class="carousel-control-prev"
                href="#carouselExampleControls"
                role="button"
                data-slide="prev"
              >
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a
                class="carousel-control-next"
                href="#carouselExampleControls"
                role="button"
                data-slide="next"
              >
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a> -->
            </div>
          </div>
        </div>
      </div>

    </main>


    <!-- ------------------------------------------------ -->
    <!--          ALL SCRIPTS (BOOTSTRAP && JS)           -->
    <!-- ------------------------------------------------ -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="app.js"></script>
    <script src="typing.js"></script>
</body>
</html> 