<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="about.css" />
    <script src="app.js" defer></script>
    <link rel="icon" href="img/popflix_logo_2.png" />

    <title>About</title>
  </head>
  <body>
   <h1 id="font">Tech Stack</h1>
<div class="container">
         <div id="cube">
           <div class="front"><img src='https://svgshare.com/i/MiB.svg' title='html' width="100%"></div>
           <div class="back"><img src='https://svgshare.com/i/Mgn.svg' title='css'width="100%"></div>
           <div class="back"><img src='src/main/resources/static/img/git-icon.svg' title='git'width="100%"></div>
           <div class="right"><img src='https://svgshare.com/i/MiM.svg' title='js' width="100%"></div>
           <div class="left"><img src='https://svgshare.com/i/MiX.svg' title='github' width="100%"></div>
           <div class="top"><img src="/img/bootstrap-4-icon.svg" width="100%"> </div>
           <div class="bottom"><img src="/img/java-programming-language-icon.svg" alt="java" width="78%"></div>
         </div>
       </div>
          </div>

         

        </div>
  </body>
</html>
