<!DOCTYPE html>
<html 
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
  >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ------------------------------------------------ -->
    <!--                  BOOTSTRAP CDN                   -->
    <!-- ------------------------------------------------ -->
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <!-- ------------------------------------------------ -->
    <!--                  GOOGLE FONTS                    -->
    <!-- ------------------------------------------------ -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <title>PopFlix | Credits</title>
    <link rel="icon" href="img/popflix_logo_2.png">
    <link rel="stylesheet" href="/movies.css" />
    <link rel="stylesheet" href="/homepage.css">
    <link rel="stylesheet" href="/nav.css">
    <link rel="stylesheet" href="credits.css">
    <script src="app.js" defer></script>
</head>
<body>

  <!-- ------------------------------------------------ -->
  <!--           NAVBAR WITH SEARCH BAR                 -->
  <!-- ------------------------------------------------ -->

    <header class="header">
        <a href="/">
          <img src="logo_black.png" alt="Logo" class="youtube-logo" />
        </a>
              <div class="dropdown navitem">
                <button class="dropbtn"><span class='burger-logo'>&#9776</span></button>
                  <div class="dropdown-content">
                    <form action="/nowPlayingMovies">
                      <button class="navitem noselect neon-button blue">IN THEATRES</button>
                    </form>
                    <form action="/upcomingMovies">
                      <button class="navitem noselect neon-button blue">FUTURE MOVIES</button>   
                    </form>
                    <form action="/mostPopular">
                      <button class="navitem noselect neon-button blue">MOST POPULAR</button>
                    </form>
                    <form action="/topRatings">
                      <button class="navitem noselect neon-button blue">TOP RATED</button>
                    </form>                   
                  </div>
              </div>

        <form th:action="@{/results}" th:object="${formObj}" method="get" class="search-bar">
            <input th:field="*{search}" class="search-input" id="searchbox" type="search"  placeholder="Search Popflix" aria-label="Search" pattern=".*\S+.*" autocomplete="off" required/>
            <button type="submit" class="search-btn">
                <img src="https://raw.githubusercontent.com/WebDevSimplified/YouTube-Design-Clone/73993ebe5f06d59e9ab68e07830f9cfc585b8f72/magnify.svg" alt="search"/>
            </button>
        </form>

        <!-- <a sec:authorize="isAuthenticated()">Logged in as: <span sec:authentication="name"></span></a> -->

        <select class="lang-select" style="margin-top: 3px;">
          <option value='en'>EN &#9662</option>
          <option value="titles">UA</option>
          <option value="tv-episodes">ESP</option>
          <option value="celebs">IT</option>
          <option value="companies">DE</option>
        </select>
        
        <div class="menu-icons">
            <a href="/watchlist/">
                <img src="https://raw.githubusercontent.com/WebDevSimplified/YouTube-Design-Clone/73993ebe5f06d59e9ab68e07830f9cfc585b8f72/video-plus.svg" alt="Upload Video" />
            </a>
            <a href="/about">
                <img src="https://raw.githubusercontent.com/WebDevSimplified/YouTube-Design-Clone/73993ebe5f06d59e9ab68e07830f9cfc585b8f72/apps.svg" alt="Apps" />
            </a>
            <a href="/credits">
              <img class='creditIcon' src="/img/pic.png" alt="Credits Reel" />
            </a>
            <a href="/logout">
                <img class="menu-channel-icon" src="http:///unsplash.it/36/36?gravity=center" alt="Your Channel" />
            </a>
        </div>
    </header>

    <!-- CREDITS -->
    <div class="wrapperx">
   <section class="credits">
   <div class="intro">
      <span class="label">A project by</span>
      <div class="director">
         Popflix Production
      </div>
   </div>
   <article class="crew">
   
      <div>
         Unit test manager 
      </div>
      <div>
         Harith
      </div>
      <div>
        Chief Design Officer
      </div>
      <div>
         Phil
      </div>
      <div>
         Camera Man
      </div>
      <div>
         Connor
      </div>
      <div>
         Chief Silent Observer
      </div>
      <div>	
        Gregory
      </div>
      <div>
         Chief Joy Officer
      </div>
      <div>	
        James
      </div>
      <div>
         Chief Logistics Officer
      </div>
      <div>	
         Nuhu
      </div>
      <div>
         Chief Nail Tech
      </div>
      <div>	
         Sebastian
      </div>
      <div>
         Chief Stunt Guy
      </div>
      <div>	
         Connor
      </div>
      <div>
         Chief Integration Tester
      </div>
      <div>	
         Harith
      </div>
      <div>
         The Antagonist
      </div>
      <div>	
         Gregory
      </div>
      <div>
         Chief Chef
      </div>
      <div>	
         Phil
      </div>
      <div>
         Lighting Coordinator
      </div>
      <div>	
         Nuhu
      </div>
      <div>
         Java Manager
      </div>
      <div>	
         Backend 
      </div>
      <div>
         Javascript
      </div>
      <div>	
         Frontend
      </div>
      <div>
         Neil Studd
      </div>
      <div>	
         Batman
      </div>
      <div>
         HTML 
      </div>
      <div>	
         Frontend
      </div>
      <div>
         TheMovieDB
      </div>
      <div>	
         API
      </div>
      <div>
         Holger Brandl
      </div>
      <div>	
         MovieDbAPI Java Library
      </div>
      <div>
         Eddie Andress
      </div>
      <div>	
         Music Composer
      </div>
      <div>
         Xavier Bourguignon
      </div>
      <div>	
         Learning Manager
      </div>
       <div>
         Kieran Morten
      </div>
      <div>	
         Development Manager
      </div>
     <div>
         Roi Driscoll
      </div>
      <div>
         Superman
      </div>
      <div>
         Kay Lack
      </div>
      <div>
         Wonder Woman
      </div>
      <div>
         Will O'Connell
      </div>
      <div>
         Python Wrangler
      </div>
      <div>
         Leo Hetsch
      </div>
      <div>	
         Database Manager
      </div>
         <div>
         Commits
      </div>
      <div>
         500
      </div>
      <div>
         Branches
      </div>
      <div>
         80
      </div>
   </article>
</section>
    </div>
    <script>
     setTimeout(function(){
       window.location.reload();
    }, 17000);
    </script>
  </body>
</html>