<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="preload"
      href="https://www.youtube.com/embed/U3-iXA6H3Q0?start=155&autoplay=1&loop=1&mute=1&modestbranding=1&controls=0&autohide=1&vq=2160&playlist=U3-iXA6H3Q0"
    />
    <link rel="stylesheet" href="/interface.css" />
    <link
      rel="preload"
      href="https://www.youtube.com/embed/U3-iXA6H3Q0?start=155&autoplay=1&loop=1&mute=1&modestbranding=1&controls=0&autohide=1&vq=2160&playlist=U3-iXA6H3Q0"
      as="document"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />
    <link rel="icon" href="img/popflix_logo_2.png" />
    <title>Log in</title>
  </head>
  <body>
    <div id="wrapper">
      <div id="left">
        <div id="signin">
          <div class="logo">
            <img src="logo_black.png" alt="logo" />
          </div>
          <div th:if="${param.error}" class="alert alert-danger">
            Invalid username or password.
          </div>
          <div th:if="${param.logout}" class="alert alert-success">
            Successfully logged out
          </div>
          <!-- LOGIN FORM -->
          <form th:action="@{/login}" method="post">
            <div>
              <label for="username">Username</label>
              <input
                type="text"
                id="username"
                name="username"
                class="text-input"
                maxlength="10"
                autocomplete="off"
                required
              />
            </div>

            <!-- <div>
              <label for="email">Email</label>
              <input type="email" id="email" name="email" class="text-input" />
            </div> -->

            <div>
              <label for="password">Password</label>
              <input
                type="password"
                id="password"
                name="password"
                class="text-input"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{7,}"
                maxlength="20"
                required
              />
              <span class="eye" onclick="toggle()">
                <i id="hide1" class="bi bi-eye"></i>
                <i id="hide2" class="bi bi-eye-slash"></i>
              </span>
            </div>
            <button id="login" type="submit" class="primary-btn">Log in</button>
          </form>

          <!-- REDIRECT TO SIGN UP PAGE -->
          <div class="or">
            <hr class="bar" />
            <span>OR</span>
            <hr class="bar" />
          </div>
          <a href="/users/new" class="secondary-btn">Sign up</a>
        </div>
        <footer id="main-footer">
          <p>Copyright &copy; 2022, All Rights Reserved By POPFLIX</p>
          <div>
            <a href="#">Terms of Use</a> | <a href="#">Privacy Policy</a>
          </div>
        </footer>
      </div>
      <div id="right">
        <div id="showcase">
          <div class="showcase-content">
            <div class="wrapper">
              <div class="frame-container">
                <iframe
                  src="https://www.youtube.com/embed/U3-iXA6H3Q0?start=155&end=234&autoplay=1&loop=1&mute=1&modestbranding=1&controls=0&autohide=1&vq=hd2160&playlist=U3-iXA6H3Q0"
                  frameborder="0"
                ></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script>
    // toggles password visibility
    function toggle() {
      var x = document.getElementById("password");
      var y = document.getElementById("hide1");
      var z = document.getElementById("hide2");
      if (x.type === "password") {
        x.type = "text";
        y.style.display = "block";
        z.style.display = "none";
      } else {
        x.type = "password";
        y.style.display = "none";
        z.style.display = "block";
      }
    }
  </script>
</html>
